.buttonPrimary{
      padding: 0 12px;
      background-color: var(--color-brand1);
      border: 2px solid var(--color-brand1);
      border-radius: 4px;
      color: var(--color-white);
      font-size: 14px;
      font-weight: 600;
}

.buttonPrimary:hover{
      background-color: var(--color-brand2);
      border-color: var(--color-brand2);
}

.buttonGrey1{
      padding: 0 12px;
      background-color: var(--color-grey1);
      border: 2px solid var(--color-grey1);
      border-radius: 4px;
      color: var(--color-white);
      font-size: 14px;
      font-weight: 600;
}

.buttonGrey1:hover{
      background-color: var(--color-grey0);
      border-color: var(--color-grey0);
}

.buttonWhite{
      padding: 0 12px;
      background-color: var(--color-white);
      border: 2px solid var(--color-white);
      border-radius: 4px;
      color: var(--color-grey1);
      font-size: 14px;
      font-weight: 600;
}

.buttonWhite:hover{
      background-color: var(--color-grey5);
      border-color: var(--color-grey5);
}


.buttonOutlineMedium{
      padding: 0 12px;
      background-color: var(--color-white);
      border: 1px solid var(--color-grey1);
      border-radius: 2px;
      color: var(--color-grey1);
      font-size: 14px;
      font-weight: 600; 
}

.buttonOutlineMedium:hover{
      background-color: var(--color-brand3);
      border-color: var(--color-brand1);
      color: var(--color-brand1);
}

.buttonOutlineMedium:focus{
      background-color: var(--color-brand1);
      border-color: var(--color-brand1);
      color: var(--color-white);
}

.disableButton{
      padding: 0 12px;
      background-color: var(--color-grey4);
      border: 1px solid var(--color-grey4);
      border-radius: 2px;
      color: var(--color-grey3); 
      font-size: 14px;
      font-weight: 600;
}

.btnHeight1{
      padding-top: 10px;
      padding-bottom: 10px;
      max-height: 38px;
}

.btnHeight2{
      padding-top: 8px;
      padding-bottom: 8px;
      max-height: 28px;
}

.btnHomeSelected{
      background-color: var(--color-grey2);
      color: var(--color-white);
      border-radius: 4px;
      padding: 8px;
}

.btnHomeNotSelected{
      color: var(--color-grey4);
      border-radius: 4px;
      padding: 8px;
}

